

body {
  background-color: black;
}

#mainNavbar{
  font-size: 1.3rem;
  font-weight: 100;
}


#mainNavbar .nav-link:hover{
  color:red;
}

h1 {
    color: #000000;
}
p {
  color: rgb(0, 0, 0);
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
  }

